* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.container {
    width: 560px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}

header {
    position: fixed;
    width: 560px;
    background-color: #056da6;
    text-align: center;
}

section {
    width: 560px;
    text-align: center;
    padding: 0 5px;
    padding-top: 45px;
}

main {
    padding: 0 35px;
}

main .other-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 8px;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    margin-top: 9px;
    padding: 0 5px;
}

main .other-video:hover {
    border: 2px solid #056da6;
}

main .other-video .preview {
    padding-top: 4px;
}

main .other-video .preview img {
    width: 200px;
    border-radius: 8px;
}

main .other-video .more-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px 15px;
}

main .other-video .more-info .title {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

main .other-video .more-info .desc {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-size: 14px;
    color: grey;
    padding-top: 5px;
}

